<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <h1>About</h1>
    <div class="container">
            <div class="box">
                <h2>Hello</h2>
                <p>this is my project</p>
            </div>
    </div>         
    <div class=project>
        <div class=gotobox>
            <a href="/login" class="button">go to project</a>
        </div>            
    </div>
</body>
</html>


